@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap');


.navbarStyle{
    background-color: #191919fa;
}
.navbar-brand {
    font-family: 'Big Shoulders Stencil Text', cursive;
    --bs-navbar-brand-color: #D41C1C;
    --bs-navbar-brand-font-size: 2rem;
    --bs-navbar-brand-hover-color: #D41C1C;
    font-size: 2rem;
    padding: 0;
}


.hvr-underline-from-left {
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    text-decoration: none;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #D41C1C;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }