.greetingComponent {
    color: #d41c1c;
    font-size: 4rem;
    margin: 0 auto;
    padding: 20px 0;
    text-shadow: 3px 1px 3px black;
    text-align: center;
    height: 35vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 0.62rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid rgb(212, 212, 212);
}

 .card-subtitle {
    margin: 10px 0 !important;
 }

 .h6 {
    font-size: 1.6rem !important;
 }