.btn-primary {
    --bs-btn-bg: #5f5f5f;
    --bs-btn-border-color: #808080;
    --bs-btn-hover-bg: #242323;
    --bs-btn-hover-border-color: #d41c1c;
    --bs-btn-active-bg:#d41c1c;
    --bs-btn-active-border-color: #971212;
}

.btn {
    width: 30px;
    height: 30px;
    margin: 0 5px 10px;
}